.HomeBox {
  max-width: 1440px;
  margin: 100px auto;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  .HomeBox {
    margin-top: 20px;
  }
}
